{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}UniFood{% endblock %}</title>
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
  <nav class="sidebar">
    <div class="logo">
        <img src="/media/produtos/fotos/logo.png" alt="Logo UniFood">
    </div>
    <a href="{% url 'feed' %}" title="Home"><i class="fas fa-home"></i></a>
    <a href="{% url 'listar_carrinho' %}" title="Carrinho"><i class="fas fa-shopping-cart"></i></a>
    {% if eh_vendedor %}
    <a href="{% url 'cadastro' %}" title="Produtos" class="cadastro"><i class="fas fa-clipboard-list"></i></a>
    <a href="{% url 'listar_pedidos' %}" title="Pedidos" class="pedido"><i class="fas fa-box-open"></i></a>
    {% endif %}
  </nav>

  <header class="header">
      <h1 class="site-title">UniFood</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-link">Sair</a>
      {% endif %}
  </header>

  <main class="main-content">
    {% block content %}{% endblock %}
  </main>

  {% bootstrap_javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
